@using VM.Teniaco;
@using Newtonsoft.Json;

@{
    MyPropertiesVM propertiesVM = new MyPropertiesVM();

    if (ViewData["MyPropertiesVM"] != null)
    {
        propertiesVM = ViewData["MyPropertiesVM"] as MyPropertiesVM;
    }

    MyPropertyFeaturesValuesVM propertyFeaturesValuesVM = new MyPropertyFeaturesValuesVM();

    if (ViewData["MyPropertyFeaturesValuesVM"] != null)
    {
        propertyFeaturesValuesVM = ViewData["MyPropertyFeaturesValuesVM"] as MyPropertyFeaturesValuesVM;
    }
}

<form class="col-12" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row text-center justify-content-center">
        <div class="form-group w-100">
            @{
                <div id="error-alert" class="form-group alert alert-danger" style="display: block;"></div>
            }
        </div>
    </div>
    <input type="hidden" id="PropertyId" name="PropertyId" value="@propertiesVM.PropertyId" />
    <div class="row">
        @{
            string htmlResult = "";
            int i = 1;
            foreach (var feature in propertyFeaturesValuesVM.FeaturesVMList)
            {
                //if ((i % 4) == 1)
                //{
                //    htmlResult += "";
                //}
                htmlResult += "<div class=\"col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3\">" +
                "<div>" +
                //"<label for=\"" + feature.FeatureId + "\">" +
                feature.FeatureTitle +
                //"</label>" +
                "</div>";
                string value = "";
                if (propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).Any())
                {
                    value = propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).FirstOrDefault().FeatureValue;
                }
                switch (feature.ElementTypeId)
                {
                    case 1://متنی
                        htmlResult += "<input data-ElementTypeId=\"" + feature.ElementTypeId + "\" class=\"form-control features-input\" placeholder=\"" + feature.FeatureTitle +
                        "\" type=\"text\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\" value=\"" + value + "\">";
                        break;
                    case 2://تک انتخابی
                        htmlResult += "<select data-ElementTypeId=\"" + feature.ElementTypeId + "\" class=\"form-control ml-3 features-input\" placeholder=\"" + feature.FeatureTitle + "\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\">" +
                        "<option value=\"\">---</option>";

                        var featureOptions = propertyFeaturesValuesVM.FeaturesOptionsVMList.Where(fo => fo.FeatureId.Equals(feature.FeatureId)).ToList();
                        if (featureOptions != null)
                            if (featureOptions.Count > 0)
                            {
                                foreach (var featureOption in featureOptions)
                                {
                                    htmlResult += "<option value=\"" + featureOption.FeatureOptionValue + "\">" + featureOption.FeatureOptionText + "</option>";
                                }
                            }

                        htmlResult += "</select>";
                        break;
                    case 3://چند انتخابی
                        htmlResult += "<select data-ElementTypeId=\"" + feature.ElementTypeId + "\" multiple class=\"form-control ml-3 features-input\" placeholder=\"" + feature.FeatureTitle + "\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\">" +
                        "<option value=\"\">---</option>";

                        var multiFeatureOptions = propertyFeaturesValuesVM.FeaturesOptionsVMList.Where(fo => fo.FeatureId.Equals(feature.FeatureId)).ToList();
                        if (multiFeatureOptions != null)
                            if (multiFeatureOptions.Count > 0)
                            {
                                foreach (var featureOption in multiFeatureOptions)
                                {
                                    htmlResult += "<option value=\"" + featureOption.FeatureOptionValue + "\">" + featureOption.FeatureOptionText + "</option>";
                                }
                            }

                        htmlResult += "</select>";
                        break;
                    case 4://توضیحات
                        break;
                    case 5://چک باکس
                        bool boolValue = false;
                        if (!string.IsNullOrEmpty(value))
                            boolValue = bool.Parse(value);
                        htmlResult += "<label class=\"lblShowAllChosenItem\" style=\"height: 39px;\"><input data-ElementTypeId=\"" + feature.ElementTypeId +
                        "\" type=\"checkbox\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId +
                        "\" data-placement=\"top\" data-toggle=\"tooltip\" title=\"" + feature.FeatureTitle +
                        "\" class=\"showAllChosenItem features-input\" " + (boolValue ? "checked" : "") + ">&nbsp;&nbsp;&nbsp;</label>";
                        break;
                }

                htmlResult += "</div>";
                i++;
                //if ((i % 4) == 1)
                //{
                //    htmlResult += "</div>";
                //}
            }

            @Html.Raw(htmlResult)
            ;

            string scriptResult = "<script type=\"text/javascript\"> $(document).ready(function () { ";

            foreach (var feature in propertyFeaturesValuesVM.FeaturesVMList.Where(f => f.ElementTypeId.Equals(2) || f.ElementTypeId.Equals(3)))
            {
                scriptResult += "$('#" + feature.FeatureId + "').chosen({" +
                "placeholder_text_single: ' '," +
                "placeholder_text_multiple: ' '," +
                "search_contains: true," +
                "max_shown_results: numberOfChosenItemsShow," +
                "rtl: rtl" +
                "});";

                string value = "";
                if (propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).Any())
                {
                    value = propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).FirstOrDefault().FeatureValue;
                }

                if (!string.IsNullOrEmpty(value))
                {
                    if (feature.ElementTypeId.Equals(2))
                        scriptResult += " $('#" + feature.FeatureId + "').val('" + value + "').trigger(\"chosen:updated\");";
                    else
                    if (feature.ElementTypeId.Equals(3))
                    {
                        scriptResult += "debugger;";
                        scriptResult += "var a = '" + value + "'.split(',');";
                        scriptResult += " $('#" + feature.FeatureId + "').val('" + value + "'.split(',')" + ").trigger(\"chosen:updated\"); ";
                    }
                }
            }

            scriptResult += " }); </script>";

            @Html.Raw(scriptResult)
            ;
        }
    </div>
    <div class="ln_solid"></div>

    <div class="form-group row">
        <div class="col-md-9 col-sm-9  offset-md-3">
            <button type="submit" id="btnSubmit" class="btn btn-success btn-md"> ثبت</button>
            <button class="btn btn-primary btn-md" type="reset">پاک کردن فرم</button>
            <button type="button" class="btn btn-primary btn-md">لغو</button>
        </div>
    </div>
</form>

@*
<form onsubmit="return false;">
    <div class="row">
        <div class="row">
            <div class="form-group col col-md-12">
                @{
                    <div id='error-alert' class="form-group alert alert-danger">
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-4 col-lg-4 col-xs-12 col-sm-12">
                <label class="col-lg-12">
                    &nbsp;
                </label>
                <button id="btnSubmit" name="btnSubmit" class="btn btn-default input-sm" type="button">
                    بروز رسانی
                </button>
            </div>
        </div>
        @<div class="row">
        <input type="hidden" id="PropertyId" name="PropertyId" value="@propertiesVM.PropertyId" />
        @{
            string htmlResult = "";
            int i = 1;
            foreach (var feature in propertyFeaturesValuesVM.FeaturesVMList)
            {
                if ((i % 4) == 1)
                {
                    htmlResult += "<div class=\"row\">";
                }
                htmlResult += "<div class=\"form-group col col-md-3 col-lg-3 col-xs-12 col-sm-12\">" +
                "<div>" +
                "<label for=\"" + feature.FeatureId + "\">" +
                feature.FeatureTitle +
                "</label>" +
                "</div>";
                string value = "";
                if (propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).Any())
                {
                    value = propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).FirstOrDefault().FeatureValue;
                }
                switch (feature.ElementTypeId)
                {
                    case 1://متنی
                        htmlResult += "<input data-ElementTypeId=\"" + feature.ElementTypeId + "\" class=\"form-control input-sm features\" placeholder=\"" + feature.FeatureTitle +
                        "\" type=\"text\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\" value=\"" + value + "\">";
                        break;
                    case 2://تک انتخابی
                        htmlResult += "<select data-ElementTypeId=\"" + feature.ElementTypeId + "\" class=\"form-control input-sm features\" placeholder=\"" + feature.FeatureTitle + "\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\">" +
                        "<option value=\"\">---</option>";

                        var featureOptions = propertyFeaturesValuesVM.FeaturesOptionsVMList.Where(fo => fo.FeatureId.Equals(feature.FeatureId)).ToList();
                        if (featureOptions != null)
                            if (featureOptions.Count > 0)
                            {
                                foreach (var featureOption in featureOptions)
                                {
                                    htmlResult += "<option value=\"" + featureOption.FeatureOptionValue + "\">" + featureOption.FeatureOptionText + "</option>";
                                }
                            }

                        htmlResult += "</select>";
                        break;
                    case 3://چند انتخابی
                        htmlResult += "<select data-ElementTypeId=\"" + feature.ElementTypeId + "\" multiple class=\"form-control input-sm features\" placeholder=\"" + feature.FeatureTitle + "\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\">" +
                        "<option value=\"\">---</option>";

                        var multiFeatureOptions = propertyFeaturesValuesVM.FeaturesOptionsVMList.Where(fo => fo.FeatureId.Equals(feature.FeatureId)).ToList();
                        if (multiFeatureOptions != null)
                            if (multiFeatureOptions.Count > 0)
                            {
                                foreach (var featureOption in multiFeatureOptions)
                                {
                                    htmlResult += "<option value=\"" + featureOption.FeatureOptionValue + "\">" + featureOption.FeatureOptionText + "</option>";
                                }
                            }

                        htmlResult += "</select>";
                        break;
                    case 4://توضیحات
                        break;
                    case 5://چک باکس
                        bool boolValue = false;
                        if (!string.IsNullOrEmpty(value))
                            boolValue = bool.Parse(value);
                        htmlResult += "<label style=\"height: 29px;\"><input data-ElementTypeId=\"" + feature.ElementTypeId +
                        "\" type=\"checkbox\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId +
                        "\" data-placement=\"top\" data-toggle=\"tooltip\" title=\"" + feature.FeatureTitle +
                        "\" class=\"features\" " + (boolValue ? "checked" : "") + ">&nbsp;&nbsp;&nbsp;" + feature.FeatureTitle + "</label>";
                        break;
                }

                htmlResult += "</div>";
                i++;
                if ((i % 4) == 1)
                {
                    htmlResult += "</div>";
                }
            }

            @Html.Raw(htmlResult)
            ;

            string scriptResult = "<script type=\"text/javascript\"> $(document).ready(function () { ";

            foreach (var feature in propertyFeaturesValuesVM.FeaturesVMList.Where(f => f.ElementTypeId.Equals(2) || f.ElementTypeId.Equals(3)))
            {
                scriptResult += "$('#" + feature.FeatureId + "').chosen({" +
                "placeholder_text_single: ' '," +
                "placeholder_text_multiple: ' '," +
                "search_contains: true," +
                "max_shown_results: numberOfChosenItemsShow," +
                "rtl: rtl" +
                "});";

                string value = "";
                if (propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).Any())
                {
                    value = propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).FirstOrDefault().FeatureValue;
                }

                if (!string.IsNullOrEmpty(value))
                {
                    if (feature.ElementTypeId.Equals(2))
                        scriptResult += " $('#" + feature.FeatureId + "').val('" + value + "').trigger(\"chosen:updated\");";
                    else
                    if (feature.ElementTypeId.Equals(3))
                    {
                        scriptResult += "debugger;";
                        scriptResult += "var a = '" + value + "'.split(',');";
                        scriptResult += " $('#" + feature.FeatureId + "').val('" + value + "'.split(',')" + ").trigger(\"chosen:updated\"); ";
                    }
                }
            }

            scriptResult += " }); </script>";

            @Html.Raw(scriptResult)
            ;
        }
        @*</div>


    </div>

</form>
<form class="col-12" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <input type="hidden" id="PropertyId" name="PropertyId" value="@propertiesVM.PropertyId" />
    <div class="row">
        @{
            string htmlResult = "";
            int i = 1;
            foreach (var feature in propertyFeaturesValuesVM.FeaturesVMList)
            {
                //if ((i % 4) == 1)
                //{
                //    htmlResult += "";
                //}
                htmlResult += "<div class=\"col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3\">" +
                "<div>" +
                //"<label for=\"" + feature.FeatureId + "\">" +
                feature.FeatureTitle +
                //"</label>" +
                "</div>";
                string value = "";
                if (propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).Any())
                {
                    value = propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).FirstOrDefault().FeatureValue;
                }
                switch (feature.ElementTypeId)
                {
                    case 1://متنی
                        htmlResult += "<input data-ElementTypeId=\"" + feature.ElementTypeId + "\" class=\"form-control \" placeholder=\"" + feature.FeatureTitle +
                        "\" type=\"text\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\" value=\"" + value + "\">";
                        break;
                    case 2://تک انتخابی
                        htmlResult += "<select data-ElementTypeId=\"" + feature.ElementTypeId + "\" class=\"form-control ml-3 features\" placeholder=\"" + feature.FeatureTitle + "\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\">" +
                        "<option value=\"\">---</option>";

                        var featureOptions = propertyFeaturesValuesVM.FeaturesOptionsVMList.Where(fo => fo.FeatureId.Equals(feature.FeatureId)).ToList();
                        if (featureOptions != null)
                            if (featureOptions.Count > 0)
                            {
                                foreach (var featureOption in featureOptions)
                                {
                                    htmlResult += "<option value=\"" + featureOption.FeatureOptionValue + "\">" + featureOption.FeatureOptionText + "</option>";
                                }
                            }

                        htmlResult += "</select>";
                        break;
                    case 3://چند انتخابی
                        htmlResult += "<select data-ElementTypeId=\"" + feature.ElementTypeId + "\" multiple class=\"form-control ml-3 features\" placeholder=\"" + feature.FeatureTitle + "\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId + "\">" +
                        "<option value=\"\">---</option>";

                        var multiFeatureOptions = propertyFeaturesValuesVM.FeaturesOptionsVMList.Where(fo => fo.FeatureId.Equals(feature.FeatureId)).ToList();
                        if (multiFeatureOptions != null)
                            if (multiFeatureOptions.Count > 0)
                            {
                                foreach (var featureOption in multiFeatureOptions)
                                {
                                    htmlResult += "<option value=\"" + featureOption.FeatureOptionValue + "\">" + featureOption.FeatureOptionText + "</option>";
                                }
                            }

                        htmlResult += "</select>";
                        break;
                    case 4://توضیحات
                        break;
                    case 5://چک باکس
                        bool boolValue = false;
                        if (!string.IsNullOrEmpty(value))
                            boolValue = bool.Parse(value);
                        htmlResult += "<label class=\"lblShowAllChosenItem\" style=\"height: 39px;\"><input data-ElementTypeId=\"" + feature.ElementTypeId +
                        "\" type=\"checkbox\" id=\"" + feature.FeatureId + "\" name=\"" + feature.FeatureId +
                        "\" data-placement=\"top\" data-toggle=\"tooltip\" title=\"" + feature.FeatureTitle +
                        "\" class=\"showAllChosenItem\" " + (boolValue ? "checked" : "") + ">&nbsp;&nbsp;&nbsp;</label>";
                        break;
                }

                htmlResult += "</div>";
                i++;
                //if ((i % 4) == 1)
                //{
                //    htmlResult += "</div>";
                //}
            }

            @Html.Raw(htmlResult)
            ;

            string scriptResult = "<script type=\"text/javascript\"> $(document).ready(function () { ";

            foreach (var feature in propertyFeaturesValuesVM.FeaturesVMList.Where(f => f.ElementTypeId.Equals(2) || f.ElementTypeId.Equals(3)))
            {
                scriptResult += "$('#" + feature.FeatureId + "').chosen({" +
                "placeholder_text_single: ' '," +
                "placeholder_text_multiple: ' '," +
                "search_contains: true," +
                "max_shown_results: numberOfChosenItemsShow," +
                "rtl: rtl" +
                "});";

                string value = "";
                if (propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).Any())
                {
                    value = propertyFeaturesValuesVM.FeaturesValuesVMList.Where(fv => fv.FeatureId.Equals(feature.FeatureId)).FirstOrDefault().FeatureValue;
                }

                if (!string.IsNullOrEmpty(value))
                {
                    if (feature.ElementTypeId.Equals(2))
                        scriptResult += " $('#" + feature.FeatureId + "').val('" + value + "').trigger(\"chosen:updated\");";
                    else
                    if (feature.ElementTypeId.Equals(3))
                    {
                        scriptResult += "debugger;";
                        scriptResult += "var a = '" + value + "'.split(',');";
                        scriptResult += " $('#" + feature.FeatureId + "').val('" + value + "'.split(',')" + ").trigger(\"chosen:updated\"); ";
                    }
                }
            }

            scriptResult += " }); </script>";

            @Html.Raw(scriptResult)
            ;
        }
    </div>
    <div class="ln_solid"></div>

    <div class="form-group row">
        <div class="col-md-9 col-sm-9  offset-md-3">
            <button type="submit" class="btn btn-success btn-md"> ثبت</button>
            <button class="btn btn-primary btn-md" type="reset">پاک کردن فرم</button>
            <button type="button" class="btn btn-primary btn-md">لغو</button>
        </div>
    </div>
</form>
*@