@using VM.Console;
@using Newtonsoft.Json;

@model LevelDetailsVM

<div class="row">
    <div class="col col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <span>نقش</span> : @Model.RoleName -
        <span>دسترسی</span> : @Model.LevelName
    </div>
</div>
<form data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
      data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    <input type="hidden" id="LevelId" name="LevelId" value="@Model.LevelId" />
    <input type="hidden" id="strAccesses" name="strAccesses" value="@Model.ActionIds" />
    <input type="hidden" id="strAccessesWithDataAccessTypesVMList" name="strAccessesWithDataAccessTypesVMList" value="@JsonConvert.DeserializeObject(JsonConvert.SerializeObject(Model.AccessesWithDataAccessTypesVMList))" />
    <fieldset>
        <div class="form-group">
            @{
                <div id='error-alert' class="form-group alert alert-danger">
                </div>
            }
        </div>
        <div class="form-group col col-md-3 col-lg-3 col-xs-6 col-sm-3">
            <span>ساخت مجدد منو</span>
            <div class="checkbox">
                <label for="reCreateMenus">
                    <input type="checkbox" id="reCreateMenus" name="reCreateMenus"
                           value="true" class="form-control input-sm" />
                    <span>فعال</span>
                </label>
            </div>
        </div>
        <div class="form-group col col-md-3 col-lg-3 col-xs-6 col-sm-3">
            <span>ساخت مجدد منو برای کاربر</span>
            <div class="checkbox">
                <label for="reCreateMenusForUsers">
                    <input type="checkbox" id="reCreateMenusForUsers" name="reCreateMenusForUsers" value="true" class="form-control input-sm" />
                    <span>فعال</span>
                </label>
            </div>
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
            <div class="mr-1">
                دسترسی دیتا
            </div>
            <div class="checkbox">
                <select id="mainSlcDataAccessType" class="form-control ml-3">
                    <option value="0">----</option>
                </select>
            </div>
        </div>
        <div class="col col-md-2 col-xs-2 col-lg-2 col-sm-2">
            <div class="mr-1">
                &nbsp;
            </div>
            <button class="btn btn-default btn-block input-sm" id="btnAccess" name="btnAccess">
                انتساب
            </button>
        </div>
        <div class="col col-md-1 col-xs-3 col-lg-1 col-sm-3">
            <div class="mr-1">
                &nbsp;
            </div>
            <button class="btn btn-default btn-block input-sm" id="btnToggle" name="btnToggle"
                    data-toggle="tooltip" data-placement="top"
                    title="باز/بسته">
                <i class="fa fa-toggle-on"></i>
            </button>
        </div>
        <div class="col col-md-1 col-xs-3 col-lg-1 col-sm-3">
            <div class="mr-1">
                &nbsp;
            </div>
            <button class="btn btn-default btn-block input-sm" id="btnToggleSelect" name="btnToggleSelect"
                    data-toggle="tooltip" data-placement="top"
                    title="انتخاب/عدم انتخاب">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </fieldset>
</form>
<div id="treeBlock">
    <div id="tree"></div>
</div>
