@using VM.Console;

@{
    string domainName = "";
    if (ViewData["DomainName"] != null)
        domainName = ViewData["DomainName"] as string;
}

@model UsersProfileVM
<form class="col-12" data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
      data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
      data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()
    <input asp-for="UserId" type="hidden" />
    <div class="row text-center justify-content-center">
        <div class="form-group w-100">
            @{
                <div class="alert alert-danger alert-dismissible " id="error-alert" style="display: block;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">  <span aria-hidden="true">×</span></button> </div>
            }
        </div>
    </div>
    <div class="row">
        @{
            if (!string.IsNullOrEmpty(Model.Picture))
            {
                <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3">
                    <span>تصویر قبلی</span>
                    <br />
                    <img src="/Files/UserFiles/@domainName/@Model.UserId/@Model.Picture" style="width: 100px;height: 100px;" class="" />
                </div>
            }
        }
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                نام
            </div>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                نام خانوادگی
            </div>
            <input asp-for="Family" class="form-control" />
            <span asp-validation-for="Family" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                شماره شناسنامه
            </div>
            <input asp-for="CertificateId" class="form-control" />
            <span asp-validation-for="CertificateId" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                کد ملی
            </div>
            <input type='text' asp-for="NationalCode" class="form-control" />
            <span asp-validation-for="NationalCode" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                تماس
            </div>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                همراه
            </div>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                تاریخ تولد
            </div>
            <input type="text" asp-for="BirthDateTime" class="form-control" data-MdDateTimePicker="true" data-EnableTimePicker="false" data-Placement="bottom"
                   onkeydown="return false" placeholder="تاریخ تولد" />
            <span asp-validation-for="BirthDateTime" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div>
                جنسیت
            </div>
            <select asp-for="Sexuality"
                    class="form-control ml-3  input-validation-error">
                <option value="true">
                    مرد
                </option>
                <option value="false">
                    زن
                </option>
            </select>
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                آدرس
            </div>
            <textarea asp-for="Address" class="form-control"
                      placeholder="آدرس"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                تصویر
                (500Kb)
            </div>
            <input type="file" asp-for="Picture"
                   placeholder="تصویر" />
            <span asp-validation-for="Mobile" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                شناسنامه
            </div>
            <input type="file" asp-for="CertificateCardFile"
                   placeholder="تصویر" />
            <span asp-validation-for="Mobile" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                کارت ملی
            </div>
            <input type="file" asp-for="NationalCardFile"
                   placeholder="تصویر" />
            <span asp-validation-for="Mobile" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                رزومه
            </div>
            <input type="file" asp-for="ResumeFile"
                   placeholder="تصویر" />
            <span asp-validation-for="Mobile" class="text-danger"></span>

        </div>
        <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
            <div class="mx-2">
                قرارداد
            </div>
            <input type="file" asp-for="ContractFile"
                   placeholder="تصویر" />
            <span asp-validation-for="Mobile" class="text-danger"></span>

        </div>
    </div>

    <div class="ln_solid"></div>

    <div class="form-group row">
        <div class="col-md-9 col-sm-9  offset-md-3">
            <button type="submit" id="btnSubmit" class="btn btn-success btn-md">ثبت</button>
            <button class="btn btn-primary btn-md" type="reset">پاک کردن فرم</button>
            <button type="button" class="btn btn-primary btn-md">لغو</button>
        </div>
    </div>
</form>


@*

<form data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
          data-ajax-failure="OnFailed" data-ajax-success="OnSuccess"
          data-ajax="true" data-ajax-method="POST">
        <input asp-for="UserId" type="hidden" />
        @Html.AntiForgeryToken()
         <div class="row text-center justify-content-center">
                <div class="form-group w-100">
                    @{
                        <div class="alert alert-danger alert-dismissible " id="error-alert" style="display: block;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">  <span aria-hidden="true">×</span></button> </div>

                    }
                </div>
            </div>
        <fieldset>

            @{
                if (!string.IsNullOrEmpty(Model.Picture))
                {
                        <div class="form-group col col-md-4">
                            <span>تصویر قبلی</span>
                            <br />
                            <img src="@Model.Picture" style="width: 100%;height: 100%;" class="img-responsive img-circle" />
                        </div>
                }
            }
            <div class="col @{ if (!string.IsNullOrEmpty(Model.Picture)) { @Html.Raw("col-md-8") } else { @Html.Raw("") } } ">
                <div class="form-group col col-md-4">
                    <span>نام</span>
                    <br />
                    <input asp-for="Name" class="form-control input-sm"
                           placeholder="نام" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>نام خانوادگی</span>
                    <br />
                    <input asp-for="Family" class="form-control input-sm"
                           placeholder="نام خانوادگی" />
                    <span asp-validation-for="Family" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>ایمیل</span>
                    <br />
                    <input asp-for="Email" class="form-control input-sm"
                           placeholder="ایمیل" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>تماس</span>
                    <br />
                    <input asp-for="Phone" class="form-control input-sm"
                           placeholder="تلفن" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>همراه</span>
                    <br />
                    <input asp-for="Mobile" class="form-control input-sm"
                           placeholder="همراه" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>آدرس</span>
                    <br />
                    <input asp-for="Address" class="form-control input-sm"
                           placeholder="آدرس" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>شماره شناسنامه</span>
                    <br />
                    <input asp-for="CertificateId" class="form-control input-sm"
                           placeholder="شماره شناسنامه" />
                    <span asp-validation-for="CertificateId" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>کد ملی</span>
                    <br />
                    <input asp-for="NationalCode" class="form-control input-sm"
                           placeholder="کد ملی" />
                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                </div>
            <div class="col-xl-3 col-md-4 col-xs-12 col-sm-12 col-lg-4 my-3 ">
                <div class="mx-2">
                    تاریخ تولد                 </div>
                <input type="text" asp-for="BirthDateTime" class="form-control" data-MdDateTimePicker="true" data-EnableTimePicker="false" data-Placement="bottom"
                       onkeydown="return false" placeholder="تاریخ تولد" />
                <span asp-validation-for="BirthDateTime" class="text-danger"></span>

            </div>
                <div class="form-group col col-md-4">
                    <span>تصویر</span>
                    <br />
                    <input type="file" asp-for="Picture" class="form-control input-sm"
                           placeholder="تصویر" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group col col-md-4">
                    <span>جنسیت</span>
                    <br />
                    <div class="checkbox">
                        <label for="Sexuality">
                            <input asp-for="Sexuality" class="form-control input-sm"
                                   placeholder="جنسیت" />
                            <span>مرد</span>
                        </label>
                        <span asp-validation-for="Sexuality" class="text-danger"></span>
                    </div>
                </div>
                <div class="col col-md-12">
                    <button class="col col-md-2 btn btn-default input-sm" type="submit">
                        ارسال
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

*@
